#rooms {
    display: flex;
    flex-direction: column;

    gap: 56px;
    max-width: 100%;
    box-sizing: border-box;
    padding-bottom: 0px;
}

#rooms .text p {
    font-size: 1rem;
    color: var(--gray);
    margin: 0.5rem 0;
}

#rooms .rooms {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
}

.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;

    width: min(520px, 100%);
    margin: 0 auto;

    border-bottom: 1px solid var(--light-orange);
    box-sizing: border-box;
}

.room .room-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.room .room-images .main-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.room .room-images .thumbnail-images {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.room .room-images .thumbnail-images img {
    width: 60px;
    height: auto;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: transform 0.2s, border-color 0.2s;
}

.room .room-images .thumbnail-images img.active,
.room .room-images .thumbnail-images img:hover {
    transform: scale(1.1);
    border-color: var(--dark-orange);
}

.room .room-details {
    width: 100%;
}

.room .room-details h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--green);
}

.room .room-details p {
    color: var(--gray);
    margin: 0.5rem 0;
    text-align: justify;
}

.room .room-details ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

.room .room-details ul li {
    background-color: var(--dark-orange);
    color: var(--white);
    padding: 0.3rem 0.6rem;
    border-radius: 16px;
    font-size: 0.9rem;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    #rooms .rooms {
        flex-direction: column;
        gap: 1rem;
    }

    .room {
        width: 100%;
    }

    .room .room-images .thumbnail-images img {
        width: 50px;
    }

    .room .room-details h1 {
        font-size: 1.2rem;
    }

    .room .room-details ul li {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    #rooms .text h3 {
        font-size: 20px;
    }

    .room .room-images .main-image img {
        width: 100%;
    }

    .room .room-details h1 {
        font-size: 1rem;
    }

    .room .room-details ul li {
        font-size: 0.7rem;
    }
}