.navbar {
    width: min(1100px, 92%);
    background: transparent;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.navbar .logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark-orange);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--white);
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--dark-orange);
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--white);
}

.hamburger:focus {
    outline: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-links.open {
        background-color: var(--white);
        width: 40%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 50px 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;

        box-shadow: 0 6px 18px rgba(0,0,0,0.18);
        border-bottom-right-radius: 12px;
    }

    .nav-links a {
        color: var(--dark-orange);
    }

    .hamburger {
        display: block;
    }
}
