#navbar {
    display: flex;
    justify-content: center;
}

#navbar .items {
    width: 30%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#navbar .items .item {
    display: block;

    padding-top: 20px;

    font-size: 20px;
}

#navbar .items .item:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width .3s;
}

#navbar .items .item:hover:after {
    width: 100%;
}

#navbar .items .item.selected {
    font-weight: bold;
}

#navbar .book {
    position: absolute;
    right: 10%;
    top: 15px;
}

#navbar .hamburger {
    display: none;
}

@media (max-width: 768px) {
    #navbar {
        justify-content: flex-start;
    }

    #navbar .hamburger {
        display: block;
        padding: 20px;
        z-index: 2;
    }

    #navbar .items {
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        width: auto;
        height: 100%;
        position: absolute;
        background-color: #ffffff;
        z-index: 10000;
        opacity: 0;
        transform: translateX(0%) translateY(50px);
        transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, background-color 0.6s ease-in-out;
    }

    #navbar .items.open {
        opacity: 1;
        transform: translateX(0%) translateY(50px);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    #navbar .items .item {
        border-radius: 5px;
        padding: 5px;
    }
}